@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.color1 {
    background-color: rgb(249, 215, 76);
}

.color2 {
    background-color: rgb(249, 123, 139);
}

.color3 {
    background-color: rgb(108, 108, 229);
}

.color4 {
    background-color: rgb(229, 108, 209);
}

.color5 {
    background-color: rgb(108, 229, 219);
}

.color6 {
    background-color: rgb(118, 229, 108);
}


/*********************************GLOBAL START********************************/

:root {
    --background: #F9F9FF;
    --secondary-background: #FFF;
    --font-color: #454360;
    --secondary-font-color: #000;
    --brand-color: #ff3b66;
}

[data-theme="dark"] {
    --background: #353353;
    --secondary-background: #3c3b58;
    --font-color: #FFF;
    --secondary-font-color: #ffffff80;
}

body,
.content {
    background-color: var(--background);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color);
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

span {
    color: var(--brand-color);
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.button {
    padding: 10px 32px;
    background: var(--brand-color);
    color: white;
    border: 2px solid var(--brand-color);
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.button a {
    text-decoration: none;
    color: white;
}

.button:hover {
    color: #FFF;
    animation-name: button-push;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.button:focus {
    box-shadow: none;
    outline: 0;
}

@keyframes button-push {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}


/*******************************GLOBAL END*************************************/


/******************************PRELOADER START********************************/

.preloader.fade {
    opacity: 0;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 99999;
}

.loader__container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.loader__img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    fill: none;
}


/******************************PRELOADER END**********************************/


/*********************************NAVBAR START*********************************/

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--background);
    z-index: 999;
    border-bottom: 0.05px dashed var(--secondary-font-color);
}

.navbar .icon-bar {
    color: var(--font-color);
}

.navbar .navbar-toggler {
    outline: 0;
}

.navbar .icon-bar:focus {
    box-shadow: none;
    outline: 0;
    border: none;
}

.nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 700;
    color: var(--font-color);
    letter-spacing: .5px;
    margin: 15px 5px;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--brand-color);
}

.navbar .icon-bar:hover {
    color: var(--brand-color);
    transition: .5s;
}

.link__graphic {
    position: absolute;
    top: -50%;
    left: 0;
    pointer-events: none;
    fill: none;
    stroke: var(--brand-color);
    stroke-width: 2.5px;
}

.link__graphic--stroke path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}

.nav-link:hover .link__graphic--stroke path {
    stroke-dashoffset: 0;
}

.link__graphic--arc {
    top: 60%;
    left: 0%;
}

.link__graphic--arc path {
    transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.nav-ink:hover .link__graphic--arc path {
    transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
    transition-duration: 0.3s;
}

.link__graphic--scribble {
    top: 75%;
}

.link__graphic--scribble path {
    transition: stroke-dashoffset 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.nav-link:hover .link__graphic--scribble path {
    transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
    transition-duration: 0.3s;
}


/*********************************NAVBAR END***********************************/


/******************************Dark Mode START********************************/

.theme-switch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    height: 100%;
}

.theme-switch-wrapper i {
    color: var(--font-color);
    font-size: 20px;
}

.theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 35px;
    margin: auto 7px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #454360;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: -1px;
    content: "";
    height: 23px;
    left: 0px;
    position: absolute;
    transition: .4s;
    width: 24px;
}

input:checked+.slider {
    background-color: var(--brand-color);
}

input:checked+.slider:before {
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    border: 2px solid var(--font-color);
}


/******************************Dark Mode END**********************************/


/***********************************HOME START*********************************/

.home {
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.intro-text {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
}

.home-text p {
    color: var(--font-color);
    font-size: 1rem;
}

.home-text h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.home-text h4 span {
    display: inline-block;
    width: 1em;
    height: 2px;
    vertical-align: middle;
    background-color: var(--font-color);
    border-radius: 40px;
    animation: hyphen 2s 1s alternate infinite cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes hyphen {
    0% {
        width: 0.5em;
    }
    20% {
        width: 0.5em;
    }
    80% {
        width: 1em;
    }
}

.intro-button {
    background-color: var(--brand-color);
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 10;
    font-size: 1.25rem;
    border: 2px solid var(--brand-color);
}

.intro-button:hover {
    background-color: white;
    color: var(--brand-color);
}

.intro-button:before,
.intro-button:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--brand-color);
    border-radius: 2px;
    z-index: -1;
    opacity: 0.2;
}

.intro-button:before {
    animation: pulse 2s ease-out infinite;
}

.intro-button:after {
    animation: pulse 1.5s ease-out infinite;
}

@keyframes pulse {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.home__social {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: max-content;
    row-gap: 0.75rem;
    padding-top: 5px;
    padding-bottom: 2px;
    width: 2vw;
    height: max-content;
    pointer-events: none;
}

.home__social-icon {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    text-align: center;
    margin: 0 0 0rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    text-decoration: none;
    border: 2px solid var(--brand-color);
    transition: 0.5s;
    pointer-events: auto;
}

.home__social-icon .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: transparent;
    line-height: 2.25rem;
    font-size: 1.5rem;
    color: var(--brand-color);
    transition: 0.5s;
}

.home__social-icon:hover .fab {
    background-color: var(--brand-color);
    color: white;
}

.home-image-content {
    max-width: 250px;
    background: rgba(203, 248, 245, 0.4);
    border: 2px solid var(--font-color);
}

.home__title {
    height: 50px;
}

.mfp-fade.mfp-bg {
    opacity: 0;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}


/**********************************Title Design*********************************/

.container-title {
    margin: 5vh;
    text-align: center;
}

.c-hover {
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    font-weight: 800;
    position: relative;
    text-decoration: none;
    transition: color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.c-hover::before,
.c-hover::after {
    color: var(--font-color);
    content: attr(data-letters);
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.c-hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 30%);
}

.c-hover::after {
    clip-path: polygon(0 30%, 100% 80%, 100% 100%, 0 100%);
}

.c-hover:hover {
    color: transparent;
}

.c-hover:hover::before,
.c-hover:hover::after {
    color: rgb(249, 123, 139);
}

.c-hover:hover::before {
    transform: translate3d(4px, -1px, 0);
}

.c-hover:hover::after {
    transform: translate3d(-4px, 1px, 0);
}


/**********************************About START*********************************/

.about {
    padding-bottom: 18vh;
}

.about-text h2 {
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
}

.typer {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.typer p {
    font-size: 1.25rem;
    padding: 0.25rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-align: center;
    overflow: hidden;
    color: var(--font-color);
}

.typer p span.typed-text {
    font-weight: 800;
    color: var(--brand-color);
}

.typer p span.cursor {
    display: inline-block;
    background-color: var(typed-text);
    margin-left: 0.1rem;
    width: 4px;
    animation: blink 1s infinite;
}

.typer p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: var(--brand-color);
    }
    49% {
        background-color: var(--brand-color);
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: var(--brand-color);
    }
}

.fact-item .icon {
    color: var(--brand-color);
    font-size: 1.75rem;
}

.animator {
    width: 100%;
}

.skill__badge {
    margin: 4px;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 20%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    box-shadow: 4px 5px 6px 1.5px rgba(0, 0, 0, 0.43);
    clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
}

.rounded__icon {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 10;
    border-radius: 30%;
    box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
    clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
}

.rounded__icon i.fab {
    font-size: 2rem;
}

.blue {
    background: dodgerblue;
    color: deepskyblue;
}

.orange {
    background: darkorange;
    color: orange;
}

.gold {
    background: gold;
    color: gold;
}

.red {
    background: red;
    color: red;
}

.purple {
    background: mediumpurple;
    color: slategray;
}

.green {
    background: yellowgreen;
    color: darkslategray;
}

.crimson {
    background: crimson;
    color: firebrick;
}

.steel {
    background: steelblue;
    color: gold;
}

.pink {
    background: hotpink;
    color: palevioletred;
}

.rebecca {
    background: rebeccapurple;
    color: rebeccapurple;
}

.gainsboro {
    background: gainsboro;
    color: orangered;
}

.skills {
    background-color: var(--background);
    height: auto;
    width: 100%;
    padding: 30px 0;
}

.skill-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--secondary-background);
    flex-basis: 100%;
    padding: 20px 0px 40px 0px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.skill {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill-name {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--font-color);
    font-family: "Rubik", sans-serif;
    margin: 15px 0;
}

.skill-bar {
    height: 12px;
    background: #cccccc;
    border-radius: 8px;
}

.skill-per {
    height: 12px;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #454360;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #454360;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}


/**********************************About END**********************************/


/*******************************SERVICES START*********************************/

.services {
    background-color: var(--background);
    padding: 30px 0;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px auto;
}

.service-box {
    color: #f8f9fa;
    padding: 30px;
    margin: 20px 0;
    border-radius: 20px;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.service-box h3 {
    font-size: 20px;
    font-weight: 700;
    color: #f8f9fa
}

.service-box img {
    margin-bottom: 22px;
}

.service-box:hover {
    transform: translateY(-10px);
}

.service-box.color1 {
    background-color: rgb(249, 215, 76);
    box-shadow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
}

.service-box.color2 {
    background-color: rgb(249, 123, 139);
    box-shadow: 0px 5px 20px 0px rgba(249, 123, 139, 0.5);
}

.service-box.color3 {
    background-color: rgb(108, 108, 229);
    box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
}

.hireme a {
    color: #FF4C60;
}

.hireme p {
    color: var(--font-color);
}

.hireme a:hover {
    color: var(--font-color);
    font-weight: 400;
    text-decoration: none;
}


/*******************************SERVICES END***********************************/


/*****************************EXPERIENCE START*********************************/

.experience {
    height: auto;
    padding: 30px 0;
    background-color: var(--background);
}

.timeline {
    position: relative;
    padding: 30px;
    margin: 50px auto;
    border-radius: 20px;
    background-color: var(--secondary-background);
    overflow: hidden;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.timeline .timeline-container {
    padding-left: 50px;
    margin-bottom: 50px;
    position: relative;
    background-color: inherit;
    width: 100%;
}

.timeline .timeline-container:last-of-type {
    margin-bottom: 0;
}

.timeline.edu .timeline-container::after {
    content: "🎓";
    background: var(--secondary-background);
    font-family: "simple-line-icons";
    font-size: 24px;
    color: #FF4C60;
    position: absolute;
    left: -7px;
    top: 0;
    z-index: 1;
}

.timeline.exp .timeline-container::after {
    content: "💼";
    background: var(--secondary-background);
    font-family: "simple-line-icons";
    font-size: 24px;
    color: #FF4C60;
    position: absolute;
    left: -7px;
    top: 0;
    z-index: 1;
}

.timeline .content {
    position: relative;
    background-color: var(--secondary-background);
}

.timeline .content .time {
    color: #8B88B1;
    font-size: 14px;
}

.timeline .content h3 {
    font-size: 20px;
    margin: 10px 0;
    color: var(--font-color);
}

.timeline .content p {
    margin: 0;
    color: var(--font-color);
}

.timeline span.line {
    position: absolute;
    width: 2px;
    background-color: #FF4C60;
    top: 30px;
    bottom: 30px;
    left: 39px;
}


/*****************************EXPERIENCE END***********************************/


/*********************************HIREME START*********************************/

#hire {
    padding-top: 10vh;
    background-color: var(--background);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1039%26quot%3b)' fill='none'%3e%3ccircle r='42.745' cx='718.03' cy='335.18' fill='url(%23SvgjsLinearGradient1040)'%3e%3c/circle%3e%3ccircle r='16.895' cx='20.11' cy='240.83' fill='url(%23SvgjsLinearGradient1041)'%3e%3c/circle%3e%3ccircle r='55.895' cx='153.57' cy='548.61' fill='url(%23SvgjsLinearGradient1042)'%3e%3c/circle%3e%3ccircle r='54.085' cx='1349.24' cy='206.06' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/circle%3e%3ccircle r='40.92' cx='40.35' cy='344.27' fill='url(%23SvgjsLinearGradient1044)'%3e%3c/circle%3e%3ccircle r='19.025' cx='497.21' cy='453.36' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='25.16' cx='889.55' cy='303.61' fill='url(%23SvgjsLinearGradient1045)'%3e%3c/circle%3e%3ccircle r='48.725' cx='582.43' cy='178.83' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1039'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='632.54' y1='335.18' x2='803.52' y2='335.18' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1040'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-13.68' y1='240.83' x2='53.9' y2='240.83' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1041'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='41.77999999999999' y1='548.61' x2='265.36' y2='548.61' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1042'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1241.07' y1='206.06' x2='1457.4099999999999' y2='206.06' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1043'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-41.49' y1='344.27' x2='122.19' y2='344.27' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1044'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='839.2299999999999' y1='303.61' x2='939.8699999999999' y2='303.61' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1045'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='484.97999999999996' y1='178.83' x2='679.88' y2='178.83' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1046'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-size: cover;
    background-position: fixed;
}

.hire-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    max-width: 900px;
}

.hire-text h5 {
    line-height: 30px;
}


/*********************************HIREME END***********************************/


/* sort btn */

.sortBtn {
    margin: 50px auto;
}

.filter-btn {
    text-transform: uppercase;
    margin-top: -20px;
    outline: none !important;
    border: 1px solid;
    border-color: var(--font-color) !important;
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 20px;
    color: var(--font-color) !important;
    transition: all 0.3s ease;
}

.filter-btn:hover,
.filter-btn.active {
    color: var(--background) !important;
    background-color: var(--font-color);
}


/* single work */

.single-work {
    position: relative;
    margin-bottom: 30px;
}

.single-work .work-image img {
    width: 100%;
}

.single-work .work-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 51, 83, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
}

.single-work:hover .work-overlay {
    opacity: 1;
    visibility: visible;
}

.single-work .work-overlay .work-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.single-work .work-overlay .work-content .work-title {
    font-size: 22px;
    color: var(--white);
    font-weight: 600;
    transform: translateY(-100%);
    opacity: 0;
    margin-bottom: 15px;
    transition: all 0.3s ease-out 0s;
}

.single-work .work-overlay .work-content ul {
    position: relative;
    padding-top: 20px;
}

.single-work .work-overlay .work-content ul::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background-color: var(--white);
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.single-work .work-overlay .work-content ul li {
    display: inline-block;
    margin: 0 15px;
    opacity: 0;
    transition: all 0.5s ease-out 0s;
}

.single-work .work-overlay .work-content ul li a {
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 25px;
    color: var(--white);
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    text-align: center;
    transition: all 0.3s ease-out 0s;
}

.single-work .work-overlay .work-content ul li a:hover {
    background-color: #FFFFFF;
    color: var(--font-color);
}

.single-work .work-overlay .work-content ul li:nth-of-type(1) {
    transform: translateX(-100%);
}

.single-work .work-overlay .work-content ul li:nth-of-type(2) {
    transform: translateX(100%);
}

.single-work:hover .work-overlay .work-content .work-title {
    transform: translateY(0);
    opacity: 1;
}

.single-work:hover .work-overlay .work-content ul li {
    transform: translateX(0);
    opacity: 1;
}


/*******************************Blog START*********************************/

.blogs {
    background-color: var(--background);
    padding: 30px 0;
}

.post-slide {
    margin: 40px 15px;
    padding: 50px auto;
    transition: all 0.4s ease-in-out 0s;
}

.post-slide .post-img {
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post-slide .post-img:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    transition: all 0.4s linear 0s;
}

.post-review {
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post-slide:hover .post-img:before {
    background: rgba(0, 0, 0, 0.5);
}

.post-slide .post-img img {
    width: 100%;
    height: 250px;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post-slide .category {
    width: 100%;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 11px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    padding: 11px 0;
    background: var(--brand-color);
    position: absolute;
    bottom: 0;
    bottom: -100%;
    transition: all 0.5s ease-in-out 0s;
}

.post-slide:hover .category {
    bottom: 0;
}

.post-slide .post-review {
    padding: 25px 20px;
    background: var(--secondary-background);
    position: relative;
}

.post-slide .post-title {
    margin: 0;
    line-height: 26px;
}

.post-slide .post-title a {
    display: inline-block;
    font-size: 16px;
    color: var(--font-color);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
    transition: all 0.30s linear 0s;
}

.post-slide .post-title a:hover {
    text-decoration: none;
    color: var(--brand-color);
}

.post-review .post-bar {
    margin-top: 20px;
}

.post-bar span {
    display: inline-block;
    font-size: 14px;
    color: #999;
}

.post-bar span i {
    margin-right: 5px;
    color: #999;
}

.post-bar span a {
    color: #999;
    text-transform: uppercase;
}

.post-bar span a:hover {
    text-decoration: none;
    color: var(--brand-color);
}

.post-bar span.comments {
    float: right;
}

@media only screen and (max-width: 359px) {
    .post-slide .category {
        font-size: 13px;
    }
}

.owl-theme .owl-controls .owl-page span {
    background: var(--brand-color);
    opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
    transition: all 0.5s;
    border: 2px solid var(--brand-color);
    background-color: #F9F9FF;
}


/*******************************PROJECTS END***********************************/


/****************************TESTIMONIAL START*********************************/

.testimonial {
    background-color: var(--background);
    padding: 30px 0;
}

.testimonial-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 50px 10px;
    z-index: 102;
}

.testimonial-box .pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.testimonial-box .pic img {
    width: 100;
    height: 100%;
    border-radius: 50%;
}

.testimonial-box .testimonial-title {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    color: var(--font-color);
    margin: 5px 0 30px 0;
}

.testimonial-box .description {
    font-size: 14px;
    color: var(--font-color);
    line-height: 27px;
    position: relative;
    margin: 0;
    background-color: var(--secondary-background);
    max-width: 600px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.testimonial-box .description:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--secondary-background);
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-7.5px);
}


/****************************TESTIMONIAL END***********************************/


/******************************CONTACT START**********************************/

.contact {
    background-color: var(--background);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.contact-card {
    padding: 70px 30px 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.follow-card {
    background-color: var(--secondary-background);
    border-radius: 20px;
    padding: 30px 30px;
    margin: auto;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.card-title .card-img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 0 20px;
    float: left;
    margin-right: 30px;
    margin-top: -10px;
}

.card-title h4,
.card-title h6 {
    /*    margin-left: 150px;*/
    color: var(--font-color);
}

.card-text {
    margin-top: 20px;
    padding: 10px;
    text-align: justify;
    color: var(--font-color);
}

.card-btn {
    text-align: right;
}

.card-btn .button {
    padding: 5px 35px;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 30px;
    margin: auto;
    border-radius: 20px;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    padding: 15px 0;
}

.form-group input,
textarea {
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.contact-form .form-control {
    display: block;
    border-radius: 30px;
    width: 100%;
    height: 60px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #454360;
    background-color: #FFF;
    border: 0;
}

.contact-form .form-control:focus {
    box-shadow: none;
    border-color: #FF4C60;
    transition: .5s;
}

.contact-form textarea.form-control {
    height: 110px;
    padding: 20px;
}

.vertical-slider {
    width: 100%;
    min-height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}

.vertical-slider p {
    position: absolute;
    visibility: hidden;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    color: var(--font-color);
    font-family: "Sacramento";
}


/******************************CONTACT END*************************************/


/********Glooey Effect************/

.glooey {
    align-items: center;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
}

.svg__glooey {
    height: 1px;
}

.c-social-media {
    filter: url("#goo");
    position: relative;
}

.c-social-media__list {
    height: 50px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-social-media__btn,
.c-social-media__item {
    background-color: transparent;
    border: 0;
    margin: 0;
    outline: unset;
    padding: 0;
    text-decoration: none;
    align-items: center;
    background-color: var(--brand-color);
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
    display: flex;
    height: 42px;
    justify-content: center;
    padding: 10px;
    width: 42px;
}

.c-social-media__btn {
    position: relative;
    transform: scale(1.25);
    z-index: 9;
}

.c-social-media__item {
    position: absolute;
    left: 50%;
    margin-left: -21px;
    margin-top: -21px;
    top: 50%;
}

.c-social-media__link {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-social-media__icon {
    fill: currentColor;
    height: 100%;
    width: 100%;
}

.c-social-media__link:hover {
    color: rgb(248, 191, 191);
}

.footer-text {
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 600;
}

.heart {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    margin-left: 14px;
    margin-right: 14px;
    background-color: #ff3b66;
    transform: rotate(45deg);
    animation: heartbeater 1.4s linear infinite;
}

.heart:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff3b66;
    transform: translateY(-50%);
    border-radius: 50%;
}

.heart:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff3b66;
    transform: translateX(-50%);
    border-radius: 50%;
}

@keyframes heartbeater {
    0% {
        transform: rotate(45deg) scale(1);
    }
    25% {
        transform: rotate(45deg) scale(1.2);
    }
    30% {
        transform: rotate(45deg) scale(1.4);
    }
    50% {
        transform: rotate(45deg) scale(1.2);
    }
    70% {
        transform: rotate(45deg) scale(1.4);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}

#testimonial {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#particles-js {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
}

.owl-controls {
    z-index: 1000;
}

.progress-wrap {
    position: fixed;
    right: 10px;
    bottom: 60px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
    z-index: 1;
    opacity: 0;
    background-color: var(--background);
    visibility: hidden;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap::after {
    position: absolute;
    content: "";
    background-image: url("https://res.cloudinary.com/bijay/image/upload/v1630675048/portfolio/rocket_hvv3i0.svg");
    left: 0;
    top: 1.5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 1000;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::after {
    opacity: 0.5;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: var(--brand-color);
    stroke-width: 5;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

aside div.split {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: max-content;
    padding: 55px;
}

aside div.holder {
    position: relative;
    width: 400px;
    height: 300px;
    /*   transform: translate(-50%, -50%); */
}

aside div.holder img {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

aside div.info {
    max-width: 480px;
    padding: 32px;
}

aside a {
    background-color: white;
    color: #222222;
    text-decoration: none;
    padding: 8px 24px 8px 24px;
    border-radius: 50px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
}

aside a img {
    margin-left: 8px;
    vertical-align: middle;
    width: 10px;
    height: 16px;
    object-fit: cover;
    object-position: center right;
    transition: width 0.25s;
}

aside a:hover img {
    width: 25px;
}

@media (max-width: 1024px) {
    aside {
        padding: 40px 0 0 0;
        display: block;
        min-height: auto;
        width: 100%;
        overflow: hidden;
    }
    aside div.holder {
        margin: 60px 0 60px 0;
    }
    aside div.holder,
    aside img {
        max-width: 80vw;
        max-height: 120vw;
    }
}

.home-img {
    position: relative;
    overflow: hidden;
    transform: perspective(300px) rotateX(0) rotateY(0) scale3d(1, 1, 1);
}

.home-text>p,
h2,
h1 {
    pointer-events: none;
}